@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');




.link {
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 80%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 10%;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--elara {
    font-family: Inter Tight, sans-serif;
    font-size: 1.25rem;
}

.link--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
    transform: translate3d(0, -2px, 0);
}

.hover-scale {
  transition: transform 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05); /* Ajusta el valor para el efecto de agrandamiento deseado */
}

.expand-rotate-hover {
  transition: transform 0.2s, opacity 0.2s;
}

.expand-rotate-hover:hover {
  transform: scale(1.1) rotate(10deg);
  opacity: 0.9;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-out; /* Puedes ajustar la duración y la función de tiempo según tus preferencias */
}